.page-container {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}
.page-container img {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 4rem auto;
}

.shadow {
  box-shadow: var(--shadow);
}

.gradient-text {
  background: linear-gradient(130deg, #5183f5, #af002d 41.07%, #c79191 76.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-secondary);
  color: var(--color-text-alt);
  font-size: 14px;
  white-space: nowrap;
}
.btn:hover, .btn:focus {
  border: none;
  filter: brightness(90%);
  color: var(--color-text-alt);
}

.btn--sm {
  padding: 6px 8px;
}

.btn--outline {
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
}
.btn--outline:hover, .btn--outline:focus {
  border: 1px solid var(--color-secondary);
  filter: none;
  background-color: var(--color-bg);
  color: var(--color-secondary);
}

.btn--danger {
  background-color: var(--color-danger);
  color: var(--color-text-alt);
}

.btn--danger:hover,
.btn--danger:focus {
  border: none;
  background-color: var(--color-danger);
  color: var(--color-text-alt);
  filter: brightness(90%);
}

.header-anchor {
  float: left;
  font-size: 0.85em;
  padding-right: 0.23em;
  margin-top: 0.125em;
}
@media (min-width: 1024px) {
  .header-anchor {
    margin-left: -0.87em;
    opacity: 0;
  }
}
